 
<div class="col-md-4">
  <h3><%= theatre.name %></h3>
  <p><%= theatre.description %>
  <%= link_to 'Edit', edit_theatre_path(theatre) %></td>
  <%= link_to 'Destroy', theatre, method: :delete, data: { confirm: 'Are you sure?' } %>
  <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
</div>






