<div class="container">

INFOOOOOOOOOOOO
    <h1>Sztukomierz!</h1>
    <h3>Oceń sztukę!</h3>
    <p>W  internecie istnieją serwisy umożliwiające ocenę większości dzieł sztuki. Lietratura ma portal <a href="http://lubimyczytac.pl/">Lubimy czytać</a>, Muzyka <a href="http://www.allmusic.com/">All Music</a>, co do Filmu, wymieniając tylko kilka <a href="http://www.imdb.com/">Internet Movie Databse</a> czy polski <a href="www.filmweb.pl">Filmweb</a>. 

    <p>W tym całym gąszczu ciężko jednak stronę poświęconą ocenie sztuk teatralnych. Przez specyficzny rodzaj przekazu, przywiązanie do miejsca, Sztuki Teatralne nie doczekały się dedykowanego dla nich portalu z możliwością oceny przez użytkowników. Stając przed końcem tych mojego toku nauczania zdecydowałem się choć trochę naprawić ten błąd.

    <p> Rezultatem jest niniejszy serwis, który stanowi integralną część pracy licencjackiej (kierunek:Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem dr. hab. Grzegorza Bilińskiego, prof. ASP na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego</p>

</div>